<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vipaji.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
				<key>dateExpires</key>
				<string>7/18/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ComplimentaryGradientView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Shimmer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF5E1FB93D7FA5B5AEC5F4139D356B541B9CC9EF</string>
						<key>dateExpires</key>
						<string>7/18/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5JU5UNKGFB</string>
						<key>name</key>
						<string>Alvaro Gutierrez</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5JU5UNKGFB.com.vipaji.vipaji</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5JU5UNKGFB</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5JU5UNKGFB.com.vipaji.vipaji</string>
				</array>
			</dict>
			<key>name</key>
			<string>Vipaji.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>13f49c70-68a7-4e6c-8835-6be896d2e2a0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5JU5UNKGFB</string>
				<key>name</key>
				<string>Alvaro Gutierrez</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
